body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    position: relative;
    background: #1e222b;
}

.ylw {
    background: #fef87e;
}

.mag {
    background: #f47fc5;
}

.cyn {
    background: #80d6f7;
}

.blk {
    background: #918f90;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 75px;
    background: white;
}

#container {
    margin-left: 75px;
    position: relative;
    padding: 50px;
}

#copyright {
    color: #6d6d6d;
    font-weight: 300;
    font-size: 60%;
    letter-spacing: 1px;
    text-align: center;
    margin: 20px 0;
}

#employee {
    color: #80d6f7;
    background: white;
    position: fixed;
    top: -27px;
    right: 110px;
    text-align: center;
    padding: 30px 25px 5px 25px;
    font-style: italic;
    letter-spacing: 1px;
    border-radius: 15px;
}

#dciIcon {
    width: 85%;
    margin: 0 auto;
    padding: 8px 5px;
    border-bottom: 1px solid #bfbfbf;
}

#navContent {
    height: 100%;
}

#menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 86%;
}

.menuBtn {
    margin: 0 auto;
    text-align: center;
    font-size: 150%;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #00adef;
    cursor: pointer;
    color: #918f90;
}

.menuBtn span {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

.tooltipColor + .tooltip > .tooltip-inner {
    background-color: #fef87e;
    font-size: 14px;
    letter-spacing: 1px;
    color: black;
}

.menuBtn:hover {
    color: #f47fc5;
}

#employee a, #employee a:hover  {
    color: #80d6f7;
}